

p{
    margin: 0 !important;
    padding: 5px;
    
    
}


h1{
    background-color:gray;
    color: black;
padding: 10px !important;
    } 


.zero-1{
background-color: rgb(8, 3, 53);
color: white;
} 
.one-1{
    background-color: rgb(36, 29, 105);
     ;
}
.two-2{
    background-color: rgb(48, 48, 187);
}
.three-3{
    background-color: rgb(59, 59, 185);

}
.four-4{
    background-color: rgb(78, 78, 189);
}
.five-5{
    background-color: rgb(119, 119, 228);

}
.six-6{
    background-color: rgb(162, 162, 247);
}
.neutral{
    background-color: chartreuse;
    color: white;
}
.seven-7{
    background-color: rgb(247, 4, 45);
}
.eight-8{
    background-color: rgb(202, 54, 79);
}
.nine-9{
    background: rgb(228, 74, 99);
}
.ten-10{
    background-color: rgb(145, 74, 86);

}
.eleven-11{
    background-color: rgb(250, 164, 178);

}
.twelve-12{
    background-color: rgb(248, 211, 217);
}
.acidic{
    background-color: red;
}
